@import './base';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 100%;
  position: relative;
}

a {
  text-decoration: none;
  transition: 0.4s;
}